{{ define "account.tmpl" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>InstaPay client app</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

{{template "comm_navbar.html"}}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Accounts</h3>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <h1>My accounts <button type="button" class="btn btn-light" disabled>Create new account</button></h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Public address</th>
                    <th>Deposit (in ETH)</th>
                </tr>
                </thead>
                <tbody>
                    <tr><td>{{ .account.PublicKeyAddress }}</td><td> {{ .balance }} </td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>
{{ end }}
